//menu button

.menu-button{
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    //this easeOut is brought from the config.scss
    @include easeOut;

    .btn-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    //rotate into x menu lines

    &.close{
        transform: rotate(180deg);
        //line 1 - rotate
        //this is dom manipulation in css 3 it chooses each nav in the btn-line with position.
        .btn-line{
        &:nth-child(1){
            //translate changes position
            //rotate turns it
            transform: rotate(45deg) translate(5px, 5px);
        }
        //line 2 - hide
         &:nth-child(2){
           //this hides the nav
           opacity: 0;
        }
        //line 3 - totate
         &:nth-child(3){
            //translate changes position
            //rotate turns it
            transform: rotate(-45deg) translate(7px, -6px);
        }

    }
  }
}

//here we set the property of the menu when the button is clicked....
//we make the menu cover the whole page with some styles
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    .menu-branding,.menu-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    //nav side
    .menu-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
       // slide in from top when in show class
        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-branding{
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        //slide in from down when in show class
        &.show{
            transform: translate3d(0, 0, 0);
        }
        .portriat{
            width: 250px;
            height: 250px;
            background: $profile-image;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border: solid 3px $secondary-color;
            border-radius: 50%;
        }
    }

        .nav-item{
           transform: translate3d(0, 0, 0);
            @include easeOut;
            //slide in from right when in show class
            &.show{
            transform: translate3d(0, 0, 0);
            }

             .nav-link{
            display: inline-block;
            position: relative;
            text-decoration: none;
            font-size: 30px;
            color: #fff;
            padding: 1rem 0;
            text-transform:uppercase;
            font-weight: bold;

            &:hover{
                color:$secondary-color;
            }

        }

         &.current > a{
                color:$secondary-color; 
            }
    }

       

}
  // delay each relative slide by 0.1s
    @for $x from 1 through 4 {
        .nav-item:nth-child(#{$x}){
            transition-delay: $x * 0.1s;
        }
    }